<div class="block notice">
  <h3>Products App</h3>
  <div class="content">
    <p>You can manage Products and Categories</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
  </ul>
</div>